@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: "Orbitron", sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-blue: #1c24b7;
  --primary-red: #b71c4b;
  --primary-dark: rgba(255, 255, 255, 0);
}

/* Logo */

.MyLogo {
  height: 5.25rem;
}

/* Menu */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: right;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 0.75rem;
  color: var(--primary-white) !important;
  /* border-top: 0.1875rem solid var(--primary-dark); */
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}
